body {
	    font-size: 75%;
	    font-family: 'Work Sans', sans-serif;
	    background-color:lightgrey;
	    padding-top: 2rem;
	}
	

	.container {
	    margin: auto;
	    width: 25%;
	}
	

	/* the entire form */
	

	form {
	    background-color: white;
	    margin: auto;
	    position: relative;
	    font-size: 0.5rem;
	    line-height: 1.0rem;
	    text-decoration: none;
	    border-radius: 1%;
	    padding: 1rem;
	    padding-top: 1.1rem;
	    border: 2px solid #DDD;
	    border: inset 2px solid #DDD;
	    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.1);
	}
	

	/* makes the boxes shift to next line */
	

	.form_label {
	    display: block;
	}
	

	h1 {
	    font-size: 3rem;
	    line-height: 1rem;
	    padding-left: 0.5rem;
	}
	

	/* submit button */
	

	input {
	    width: 85%;
	    margin: auto;
	    padding: 0.3rem;
	    border: 3px solid black;
	    font-size: 3rem;
	}
	

	/* error messages */
	

	.error {
	    color: orange;
	    font-size: 0.9rem;
	    margin-top: 0.5rem;
	    line-height: 1rem;
	}
	

	.error:last-of-type {
	    margin-bottom: 1.5rem;
	}
	

	/* submit button */
	

	.submit { 
	    width: auto;
	    padding: 0.7rem 1rem; 
	    background-color: teal;
	    border: 0;
	    color: #FFFFFF; 
	    text-transform: uppercase;
	    font-size: 0.8rem;
	    letter-spacing: 0.1rem;
	}

